/* default styles */
html, body {
    height: 100%;
    margin: 0;   
}

/* Background styles */
body.stars-background {
    background: url('/images/star-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff; 
    display: flex;          
    flex-direction: column; 
}

/* Header styles */
header {
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
    font-family: "Press Start 2P", system-ui;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* Header container styles */
.header-container {
    display: flex;
    align-items: center; 
}

.header-icon {
    width: 50px; 
    height: auto; 
    margin-left: 5px;
}

/* Header content */
.header-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Site title styles */
.site-title {
    font-size: 2.2rem; 
    margin: 0; 
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    padding: 0; 
}

nav ul li {
    margin-left: 50px; 
}

nav ul li a {
    color: #d7cd3e; 
    text-decoration: none;
    font-size: 2rem; 
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #FFA500; 
}

/* Container styles */
.container {
    flex: 1;            
    padding: 2rem;
    text-align: center;
}

/* Heading styles */
h1, h2 {
    color: #25bbf1;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 10px 20px; 
    display: inline-block; 
    border-radius: 5px; 
    font-family: "Press Start 2P", system-ui;
    margin: 20px 0; 
}

/* Footer styles */
footer {
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 10px 20px; 
    font-weight: bold;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.2rem;
    color: #25bbf1;
    margin-top: auto; 
}

/* Footer content */
.footer-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* Footer icon */
.footer-icon {
    width: 35px; 
    height: auto; 
    margin: 0 5px; 
}


/* Post-specific styles */
.posts-section {
    text-align: center; 
    margin: 20px 0;
}

/* Style individual post containers */
.post {
    background-color: rgba(255, 248, 248, 0.1);
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    color: #000000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

/* Style post titles */
.post h3 {
    color: #0404d8; 
    font-family: "Press Start 2P", system-ui; 
    font-size: 3rem;
}  

/* Style post content */
 .post p {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #3bd98a; 
    font-family: "Press Start 2P", system-ui; 
} 

/* Style post metadata */
.post small {
    display: block;
    font-size: 2rem;
    color: #ccc;
    font-family: "Press Start 2P", system-ui; 
    margin-bottom: 20px;
} 

/* Create Post button container */
.create-post-container {
    text-align: center; 
    margin: 20px 0; 
}

/* New Post Form Container styles */
#new-post-form-container {
    background: url('/images/post-background.webp') no-repeat center center fixed; 
    background-size: cover; 
    padding: 2rem; 
    border-radius: 10px; 
    margin: 20px auto; 
    width: 100%;
    max-width: 2000px; 
    min-height: 700px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

/* Button styles */
.create-post-btn {
    background-color: #46e7a3;
    border: none; 
    color: #000000;  
    padding: 15px 30px; 
    font-size: 2rem; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 10px auto; 
    font-family: "Press Start 2P", system-ui; 
    transition: background-color 0.3s, color 0.3s; 
}

/* Button hover effect */
.create-post-btn:hover {
    background-color: #38b69c; 
}

.submit-post-btn {
    background-color: #46e7a3; 
    font-family: "Press Start 2P", system-ui; 
    color: #000000;  
    padding: 15px 30px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.5rem;
    cursor: pointer; 
    width: 100%; 
    transition: background-color 0.3s, color 0.3s; 
}

/* Button hover effect */
.submit-post-btn:hover {
    background-color: #38b69c; 
}

/* Form styles */
.form-group {
    margin-bottom: 30px; 
}

.form-label { 
    color: white;
    font-family: "Press Start 2P", system-ui; 
    font-size: 1.8rem; 
    margin-bottom: 5px; 
    display: block; 
    text-align: left; 
    padding: 5px; 
    border-radius: 5px; 
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(5, 49, 121, 0.7); 
    font-family: "Press Start 2P", system-ui; 
    color: white;
}

textarea.form-input {
    height: 150px; 
    width: 100%;
    font-family: "Press Start 2P", system-ui; 
}

/* Edit Post Button Styles */
.edit-btn { 
    background-color: #46e7a3;
    border: none; 
    color: #000000;  
    padding: 15px 30px; 
    font-size: 1.5rem; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 10px auto; 
    font-family: "Press Start 2P", system-ui; 
    transition: background-color 0.3s, color 0.3s; 
    margin-right: 25px;
}

/* Delete Post Button Styles */
.delete-btn { 
    background-color: #46e7a3;
    border: none; 
    color: #000000;  
    padding: 15px 30px; 
    font-size: 1.5rem; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 10px auto; 
    font-family: "Press Start 2P", system-ui; 
    transition: background-color 0.3s, color 0.3s; 
}  

/* Edit Post Modal Styles */
.modal-container {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
}

.modal-content {
    background-color: rgb(0, 0, 0);
    margin: 10% auto; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 50%;
    border: 1px solid  #46e7a3;
}

.modal-label {
    font-size: 20px; 
    color: #ffffffa7; 
    display: block; 
    margin-top: 15px; 
    font-family: "Press Start 2P", system-ui; 
}

.modal-input,
.modal-textarea {
    width: 90%; 
    padding: 10px; 
    margin-top: 5px; 
    border: 1px solid  #46e7a3;
    border-radius: 4px;
    font-size: 16px; 
    background-color: #08092c;
    color: white;
    font-family: "Press Start 2P", system-ui; 
}

.modal-textarea {
    height: 100px; 
    resize: none; 
    color: white;
    font-family: "Press Start 2P", system-ui; 
}

.modal-update-button {
    background-color: #46e7a3;
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    display: block; 
    font-family: "Press Start 2P", system-ui; 
    margin: 20px auto 0; 

}

.modal-update-button:hover {
    background-color:  #38b69c; 
}

.modal-close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color:#46e7a3;
    text-decoration: none;
    cursor: pointer;
}